<ul style="list-style: none;" class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ul>

{{#if loggedIn}}
<script src="/javascript/upvote.js"></script>
{{/if}}