{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <button type="submit" class="upvote-btn btn btn-primary btn-lg">Like</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/upvote.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}