{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="text-center">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="btn btn-primary btn-lg">add comment</button>
    </div>
  </div>
</form>
{{/if}}

<div class="comments">
  <h1 class="text-center text-primary">Comments</h1>
  {{#each post.comments}}
  <div class="card col-4 col-mx-auto" id="comment-card">
    <section class="comment">
      <div class="meta text-primary">
        {{user.username}} on {{created_at}}
      </div>
      <div class="text text-primary">
        {{comment_text}}
      </div>
    </section>
  </div>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/upvote.js"></script>
<script src="/javascript/comment.js"></script>
{{/if}}